@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: 'Poppins';
}
@keyframes openanim
{

    to{
        transform:translateX(0rem);
    }
}
@keyframes closeanim
{

    to{
        transform:translateX(-100%);
    }
}
.open{
    animation:forwards 1s openanim;
}
.close{
    animation: forwards 1s closeanim;
}
.gradient{
background: #A5C4F3;
background: linear-gradient(0deg, #A5C4F3, #FFFFFF);
}

.trust{
    animation:4s scroll;
    animation-direction: normal;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
.cardoverlay{
    background-image: linear-gradient(to bottom, #aeaeae, #7f7f7f, #545454, #2c2c2c, #000000);
}
@keyframes scroll{
    to{
        transform:translateX(-50%);
    }
}